.header{
    background-color: aqua;
    height:300px;
    border:1px solid black;
}

.result{
    background-color: cornflowerblue;
    height: 100px;
    border:1px double black;
}

.button-result{
    position:absolute;
    right:0;
    margin: 20px;
}
.button-result:active{
    position:absolute;
    right:0;
    margin-top:22px;
}